<%- include("header"); -%>

<h1>CF Profile</h1>

<div class="background2">
  <form class="" action="/more/cf-rating" method="post">
    <label for="">User Id: </label>
    <input type="text" name="userId" value="">
    <input type="submit" name="">
  </form>
</div>

<%- include("footer"); -%>
