<%- include("header"); -%>

<img class="display-image" src="res/mydp.jpg" alt="mydp">
<div class="push-down">

</div>
<h1>Belu Cheems</h1>
<div class="background">
  <form class="" action="/" method="post">
    <label for="">User Id: </label>
    <input type="text" name="userId" value="">
    <input type="submit" name="">
    <br>
    <textarea name="name" rows="10" cols="40"></textarea>
  </form>
</div>

<%- include("footer"); -%>
