h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-shadow: -2px 1px #eeeeee;
  margin: 15px auto 15px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Belleza', sans-serif;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
}

form {
  padding: 10px 10px 10px;
}

input {
  margin: 10px;
}

label {
  color: #eee;
}

.background {
  display: block;
  /* position: absolute; */
  background-color: #222;
  border-radius: 4px;
  color: #f1f1f1;
  /* height: 1600px; */
}

.background2 {
  display: block;
  /* position: absolute; */
  background-color: #222;
  border-radius: 4px;
  margin: 10px 0 10px;
}

.display-image {
  position: absolute;
  width: 40px;
  border-radius: 100%;
  margin: 15px 10px 15px;
  transform: scale(110%);
  box-shadow: 2px 2px 4px black;
}

.selected-image {
  position: static;
  box-shadow: 5px 5px 10px black;
}

/* ------------------------------------------------------------------------ */
.box {
  max-width: 400px;
  margin: 50px auto 50px;
  background: #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.character-box {
  /* margin: 2% auto 2%; */
  /* background: #eee; */
  /* border-radius: 5px; */
  /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); */
}

.character-row {
  min-height: 200px;
  width: 70%;
  padding: 10% auto;
  margin: 0 auto;
  text-align: left;
}

.left-img {
  width: 20%;
  border-radius: 100%;
  float: left;
  margin: 10px 20px 10px 10px;
}

.right-img {
  width: 20%;
  border-radius: 100%;
  float: right;
  margin: 10px 10px 10px 20px;
}

/* ------------------------------------------------------------------------ */
.footer {
  background-color: #222;
  border-radius: 4px;
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.paragraph {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
