h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-shadow: -2px 1px #eeeeee;
  margin: 15px auto 15px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Belleza', sans-serif;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
}

form {
  padding: 10px 10px 10px;
}

input {
  margin: 10px;
}

label {
  color: #eee;
}

.background {
  display: block;
  background-color: #222;
  border-radius: 4px;
  height: 1600px;
}

.display-image {
  position: absolute;
  width: 40px;
  border-radius: 100%;
  margin: 15px 10px 15px;
  transform: scale(110%);
  box-shadow: 2px 2px 4px black;
}

.selected-image {
  position: static;
  box-shadow: 5px 5px 10px black;
}


.ftr {
  background-color: #222;
  border-radius: 4px;
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
  text-shadow: 5px;
  text-transform: uppercase;
}
